body {
  background-color:black;
}

navbar {
  display: block;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: black;
}

#first {
  float: left;
}

a:hover {
  background-color: #ddd;
  color: black;
}

h1, p {
  color: white;
  text-align: center;
  padding: 130px;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 70px;
}

img {
  max-height: 100px;
  max-width: 100px;
}

projects {
  display: flex;
  align-items: center;
  justify-content: center;
}